.gridnode {
    height: 8px;
    width: 8px;
    border: 1px solid black;
    background-color: white;
    
}

.gridnode:hover {
    background-color: red;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
}